.contact {
	width: 70%;
	margin: 0 auto;
	padding: 40px;
	background-color: #BE2528;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 15px;

	height: 70vh; /* Set height to the full viewport height */
	width: 70%; /* Set width to 100% */
	top: 6vh;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
  
.contact h2 {
	font-size: 48px;
	text-align: center;
	margin-bottom: 0px;

	color: rgb(82, 16, 16);
	text-shadow: -4px -4px 0 rgb(255, 205, 205), 1px -1px 0 rgb(255, 205, 205), -1px 1px 0 rgb(255, 205, 205), 1px 1px 0 rgb(255, 205, 205);
}
  
.contact p {
	font-size: 24px;
	text-align: center;
	margin-top: 0;
	color: rgb(82, 16, 16);
	text-shadow: -1px -1px 0 rgb(255, 205, 205), 1px -1px 0 rgb(255, 205, 205), -1px 1px 0 rgb(255, 205, 205), 1px 1px 0 rgb(255, 205, 205);
}

.contact .info-text {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: rgb(48, 16, 16);
	text-shadow: none;
}

.discord {
	color: blue
}

.email {
	text-decoration: underline;
	color: blue
}