#sections {
	/* background-color: aqua; */
	padding-left: 0;
}

.section {
	background-color: rgb(12, 12, 12);
	margin: 8px 0px 8px 0px;
	height: 100%;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 24px;
	overflow: hidden;
}

.section_title:not(.featured) {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.section_title {
	font-size: 24px;
	line-height: 1.15;
	color: white;
	text-shadow: -3px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-webkit-font-smoothing: antialiased;
	white-space: nowrap;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 4px;
}

.section_description {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.15;
	color: rgb(175, 158, 127);
	text-shadow: -3px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 16px;
	max-width: 90%;
}

.iframe_container {
	display: flex;
	justify-content: center;
}
iframe {
	margin: 0 16px;
}